# Viewing databse data and filtering to Houston only

In [48]:
import os
import pandas as pd
import datetime
import pandas.io.sql as pdsql
from sqlalchemy import create_engine, event, DateTime
from db_setup import mysql_user, mysql_password, db_name
import mysql.connector

In [6]:
connection_string = f"{mysql_user}:{mysql_password}@localhost:3306/{db_name}?charset=utf8"
engine = create_engine(f'mysql://{connection_string}')

In [7]:
engine.table_names()

['ccim',
 'franchise_tax_info',
 'franchise_tax_info_date',
 'ftoffdir',
 'sales_tax_info',
 'sales_tax_info_date']

## Fran

In [43]:
df_franchise_tax_info_date = pdsql.read_sql("SELECT * FROM franchise_tax_info_date",engine)
df_franchise_tax_info_date.head()

,Taxpayer_Number,Taxpayer_Name,Taxpayer_Address,Taxpayer_City,Taxpayer_State,Taxpayer_Zip_Code,Taxpayer_County_Code,Taxpayer_Organizational_Type,Taxpayer_Phone_Number,Record_Type_Code,...,SOS_Status_Date,Current_Exempt_Reason_Code,Agent_Name,Agent_Address,Agent_City,Agent_State,Agent_Zip_Code,Taxpayer_Organizational_Name,Record_Type_Name,DateTime
0,13708611549,GETZ FIRE EQUIPMENT COMPANY,PO BOX 419,PEORIA,IL,61651,0,CF,3099998362,X,...,,,,,,,,Foreign Profit,Comptroller Assigned File Number,2020-03-22 23:04:57
1,18229768058,BATMAN TRANSPORT LLC,4016 ROLLING ROCK RD,HEARTLAND,TX,75126,129,CL,4077579004,U,...,20191022,,ASNEL FRANCOIS,4016 ROLLING ROCK ROAD,HEARTLAND,TX,75126,Limited Liability Company - Texas,Secretary of State (SOS) File Number,2020-03-22 23:04:57
2,19523205292,GAR-BRO MANUFACTURING COMPANY,PO BOX 1077,HEBER SPRINGS,AR,72543,0,CF,5013628171,X,...,,,,,,,,Foreign Profit,Comptroller Assigned File Number,2020-03-22 23:04:57
3,32038726488,DK HARDWARE SUPPLY LLC,1835 E HALLANDALE BEACH BLVD STE 264,HALLANDLE BCH,FL,33009,0,CI,3058512811,X,...,,,,,,,,Limited Liability Company - Foreign,Comptroller Assigned File Number,2020-03-22 23:04:57
4,32065293998,MISHU DESIGNS NY INC,1163B BROADWAY,HEWLETT,NY,11557,0,CM,5162955639,X,...,,,,,,,,Foreign Non-Profit,Comptroller Assigned File Number,2020-03-22 23:04:57

In [44]:
df_franchise_tax_info_date= df_franchise_tax_info_date[df_franchise_tax_info_date['Taxpayer_City']=='HOUSTON']
df_franchise_tax_info_date.count()

Taxpayer_Number                   12433
Taxpayer_Name                     12433
Taxpayer_Address                  12433
Taxpayer_City                     12433
Taxpayer_State                    12433
Taxpayer_Zip_Code                 12433
Taxpayer_County_Code              12433
Taxpayer_Organizational_Type      12433
Taxpayer_Phone_Number             12433
Record_Type_Code                  12433
Responsibility_Beginning_Date     12433
Secretary_of_State_File_Number    12433
SOS_Charter_Date                  12433
SOS_Status_Date                   12433
Current_Exempt_Reason_Code        12433
Agent_Name                        12433
Agent_Address                     12433
Agent_City                        12433
Agent_State                       12433
Agent_Zip_Code                    12433
Taxpayer_Organizational_Name       9943
Record_Type_Name                  10234
DateTime                          12433
dtype: int64

In [45]:
df_franchise_tax_info_date = df_franchise_tax_info_date[['Taxpayer_Number','Taxpayer_Name','Taxpayer_Address','Taxpayer_City','Taxpayer_State','Taxpayer_Zip_Code','Taxpayer_Organizational_Type','Taxpayer_Organizational_Name','Record_Type_Code','Record_Type_Name','Responsibility_Beginning_Date','DateTime']]
df_franchise_tax_info_date['Responsibility_Beginning_Date'] = pd.to_datetime(df_franchise_tax_info_date["Responsibility_Beginning_Date"])
df_franchise_tax_info_date['Responsibility_Beginning_Date']=df_franchise_tax_info_date['Responsibility_Beginning_Date'].dt.strftime('%Y-%m-%d')
df_franchise_tax_info_date.head()

,Taxpayer_Number,Taxpayer_Name,Taxpayer_Address,Taxpayer_City,Taxpayer_State,Taxpayer_Zip_Code,Taxpayer_Organizational_Type,Taxpayer_Organizational_Name,Record_Type_Code,Record_Type_Name,Responsibility_Beginning_Date,DateTime
15,32071548849,"POP SOCKS, LIMITED LIABILITY COMPANY",3322 AMBER FOREST DR,HOUSTON,TX,77068,CL,Limited Liability Company - Texas,U,Secretary of State (SOS) File Number,1970-01-01,2020-03-22 23:04:57
16,32071548864,"HIT, LIMITED LIABILITY COMPANY",3322 AMBER FOREST DR,HOUSTON,TX,77068,CL,Limited Liability Company - Texas,U,Secretary of State (SOS) File Number,1970-01-01,2020-03-22 23:04:57
27,32071691334,"MODERN REAL ESTATE, LLC",9918 BARR LAKE DR,HOUSTON,TX,77095,CL,Limited Liability Company - Texas,U,Secretary of State (SOS) File Number,1970-01-01,2020-03-22 23:04:57
36,32071745619,BOBA REPUBLIC LLC,6961 BROOKHOLLOW WEST DR STE 140,HOUSTON,TX,77040,CF,Foreign Profit,X,Comptroller Assigned File Number,1970-01-01,2020-03-22 23:04:57
40,32071759388,MEDPATH HEALTHCARE SERVICES LLC,13311 ARLON TRL,HOUSTON,TX,77082,CL,Limited Liability Company - Texas,U,Secretary of State (SOS) File Number,1970-01-01,2020-03-22 23:04:57

In [49]:
formattedData = os.path.abspath('HotelOccupancyTaxData/formattedData/'+ 'HOUfran.csv')
df_franchise_tax_info_date.to_csv(formattedData, index = False)

## STP

In [50]:
df_sales_tax_info_date = pdsql.read_sql("SELECT * FROM sales_tax_info_date",engine)
df_sales_tax_info_date.head()

,Taxpayer_Number,Outlet_Number,Taxpayer_Name,Taxpayer_Address,Taxpayer_City,Taxpayer_State,Taxpayer_Zip_Code,Taxpayer_County_Code,Taxpayer_Phone_Number,Outlet_Name,...,Outlet_State,Outlet_Zip_Code,Outlet_County_Code,Outlet_Phone_Number,Permit_Type,Tax_Code,Outlet_NAICS_Code,Permit_Issue_Date,First_Sale_Date,DateTime
0,32015283073,2,"TESORO DIAMONDS, L.L.C.",2637 ELMBROOK DR,CARROLLTON,TX,75010,61,9726623388,ALTAMAR BOUTIQUE,...,TX,75001,057,0 0,SALES TAX,26,453998,20191107,20100901,2020-03-22 23:04:57
1,32066696223,1,"EDISON DESIGNS, LLC",4300 WILEY POST RD,ADDISON,TX,75001,57,9728186025,EDISON DESIGNS CO,...,TX,75001,057,9728086025,SALES TAX,26,337127,20191108,20190901,2020-03-22 23:04:57
2,32047851194,1,"31,000 FEET LLC",15101 SURVEYOR BLVD,ADDISON,TX,75001,57,9728183131,"31,000 FT",...,TX,75001,057,9728183131,SALES TAX,26,541810,20191107,20190630,2020-03-22 23:04:57
3,32071072022,1,ADEM INC.,121 N GREENVILLE AVE STE B,ALLEN,TX,75002,43,9723902189,ITALIAN VILLA RESTAURANT,...,TX,75002,043,9723902189,SALES TAX,26,722511,20191105,20191101,2020-03-22 23:04:57
4,32072419156,1,DOUGLAS DRAIS,2010 BRIARBROOK LN,ALLEN,TX,75002,43,2146834393,KRAA,...,TX,75002,043,0 0,SALES TAX,26,454110,20191105,20191115,2020-03-22 23:04:57

In [51]:
df_sales_tax_info_date= df_sales_tax_info_date[df_sales_tax_info_date['Taxpayer_City']=='HOUSTON']
df_sales_tax_info_date.count()

Taxpayer_Number          5943
Outlet_Number            5943
Taxpayer_Name            5943
Taxpayer_Address         5943
Taxpayer_City            5943
Taxpayer_State           5943
Taxpayer_Zip_Code        5943
Taxpayer_County_Code     5943
Taxpayer_Phone_Number    5943
Outlet_Name              5943
Outlet_Address           5943
Outlet_City              5943
Outlet_State             5943
Outlet_Zip_Code          5943
Outlet_County_Code       5943
Outlet_Phone_Number      5943
Permit_Type              5943
Tax_Code                 5943
Outlet_NAICS_Code        5943
Permit_Issue_Date        5943
First_Sale_Date          5943
DateTime                 5943
dtype: int64

In [52]:
df_sales_tax_info_date = df_sales_tax_info_date[['Taxpayer_Number','Taxpayer_Name','Taxpayer_Address','Taxpayer_City','Taxpayer_State','Taxpayer_Zip_Code','Outlet_Name','Outlet_Address','Outlet_City','Outlet_State','Outlet_Zip_Code','Tax_Code','Permit_Type','Permit_Issue_Date','First_Sale_Date','DateTime']]
df_sales_tax_info_date['Permit_Issue_Date'] = pd.to_datetime(df_sales_tax_info_date["Permit_Issue_Date"])
df_sales_tax_info_date['Permit_Issue_Date']=df_sales_tax_info_date['Permit_Issue_Date'].dt.strftime('%Y-%m-%d')
df_sales_tax_info_date['First_Sale_Date'] = pd.to_datetime(df_sales_tax_info_date["First_Sale_Date"])
df_sales_tax_info_date['First_Sale_Date']=df_sales_tax_info_date['First_Sale_Date'].dt.strftime('%Y-%m-%d')
df_sales_tax_info_date.head()

,Taxpayer_Number,Taxpayer_Name,Taxpayer_Address,Taxpayer_City,Taxpayer_State,Taxpayer_Zip_Code,Outlet_Name,Outlet_Address,Outlet_City,Outlet_State,Outlet_Zip_Code,Tax_Code,Permit_Type,Permit_Issue_Date,First_Sale_Date,DateTime
402,32070694792,CANDY SHACK DALLAS LLC,PO BOX 570322,HOUSTON,TX,77257,CANDY SHACK DAIQUIRIS,6751 ABRAMS RD,DALLAS,TX,75231,26,SALES TAX,2019-11-07,2020-02-01,2020-03-22 23:04:57
480,17605096613,"DXP ENTERPRISES, INC.",5301 HOLLISTER ST STE 400,HOUSTON,TX,77040,YORK PUMP - SHOP,600 ROENIA CIR,LONGVIEW,TX,75604,26,SALES TAX,2019-11-06,2019-12-01,2020-03-22 23:04:57
795,32071740552,AQUA DIAMOND POOL SERVICE LLC,17350 STATE HIGHWAY 249 STE 220,HOUSTON,TX,77064,AQUA DIAMOND POOL SERVICE,6916 DANIEL CT,NORTH RICHLAND HILLS,TX,76182,26,SALES TAX,2019-11-07,2019-11-05,2020-03-22 23:04:57
947,32061138932,"BELLE STATION, LLC",207 GRAY ST UNIT A,HOUSTON,TX,77002,"BELLE STATION, LLC",207 GRAY ST UNIT A,HOUSTON,TX,77002,26,SALES TAX,2019-11-04,2017-01-05,2020-03-22 23:04:57
949,32057396197,LA CALLE LLC,909 FRANKLIN ST,HOUSTON,TX,77002,"LA CALLE TACOS, CANTINA",401 GRAY ST,HOUSTON,TX,77002,26,SALES TAX,2019-11-07,2020-01-01,2020-03-22 23:04:57

In [53]:
formattedData = os.path.abspath('HotelOccupancyTaxData/formattedData/'+ 'HOUstp.csv')
df_sales_tax_info_date.to_csv(formattedData, index = False)

## FTACT

In [54]:
df_franchise_tax_info = pdsql.read_sql("SELECT * FROM  franchise_tax_info WHERE Taxpayer_City = 'HOUSTON';",engine)
df_franchise_tax_info.head()

,Taxpayer_Number,Taxpayer_Name,Taxpayer_Address,Taxpayer_City,Taxpayer_State,Taxpayer_Zip_Code,Taxpayer_County_Code,Taxpayer_Organizational_Type,Taxpayer_Phone_Number,Record_Type_Code,...,Rigth_to_Tansact_Business_Code,Current_Exempt_Reason_Code,Exempt_Begin_Date,NAICS_Code,Taxpayer_Organizational_Name,Record_Type_Name,Responsibility_End_Reason_Name,SOS_Status_Name,Rigth_to_Tansact_Business_Name,DateTime
0,10104336481,FLOTATION TECHNOLOGIES INC,945 BUNKER HILL RD STE 500,HOUSTON,TX,77024,101,CF,2072827749,X,...,N,NaN,NaN,420000.0,Foreign Profit,Comptroller Assigned File Number,Active or Inactive with no Reason Code,None,Forfeited,2020-03-22 00:36:27
1,10105480411,"MOTORCYCLES UNLIMITED, INC.",1964 CYPRESS CREEK PKWY,HOUSTON,TX,77090,101,CT,2814440545,U,...,A,NaN,NaN,541213.0,Texas Profit,Secretary of State (SOS) File Number,Active or Inactive with no Reason Code,Active,Active,2020-03-22 00:36:27
2,10105483688,"CYPRESS CREEK PERSONNEL SERVICES, INC.",13131 CHAMPIONS DR STE 202,HOUSTON,TX,77069,101,CT,2815802180,U,...,A,NaN,NaN,561000.0,Texas Profit,Secretary of State (SOS) File Number,Active or Inactive with no Reason Code,Active,Active,2020-03-22 00:36:27
3,10105495120,"LIL IKES, INC.",7110 AVENUE C,HOUSTON,TX,77011,101,CT,7139210088,U,...,A,NaN,NaN,811121.0,Texas Profit,Secretary of State (SOS) File Number,Active or Inactive with no Reason Code,Active,Active,2020-03-22 00:36:27
4,10105517915,"WOOD GROUP USA, INC.",17325 PARK ROW,HOUSTON,TX,77084,101,CT,2816478449,U,...,A,NaN,NaN,NaN,Texas Profit,Secretary of State (SOS) File Number,Active or Inactive with no Reason Code,Active,Active,2020-03-22 00:36:27

In [55]:
df_franchise_tax_info.count()

Taxpayer_Number                   508136
Taxpayer_Name                     508134
Taxpayer_Address                  508136
Taxpayer_City                     508136
Taxpayer_State                    508136
Taxpayer_Zip_Code                 508136
Taxpayer_County_Code              508136
Taxpayer_Organizational_Type      508136
Taxpayer_Phone_Number             295324
Record_Type_Code                  508136
Responsibility_Beginning_Date     508136
Responsibility_End_Date                0
Responsibility_End_Reason_Code    508136
Secretary_of_State_File_Number    493660
SOS_Charter_Date                  493660
SOS_Status_Date                   493660
SOS_Status_Code                   493660
Rigth_to_Tansact_Business_Code    508136
Current_Exempt_Reason_Code         34772
Exempt_Begin_Date                  34772
NAICS_Code                        122286
Taxpayer_Organizational_Name      508136
Record_Type_Name                  508136
Responsibility_End_Reason_Name    508136
SOS_Status_Name                   493644
Rigth_to_Tansact_Business_Name    508136
DateTime                          508136
dtype: int64

In [57]:
df_franchise_tax_info = df_franchise_tax_info[['Taxpayer_Number','Taxpayer_Name','Taxpayer_Address','Taxpayer_City','Taxpayer_State','Taxpayer_Zip_Code','Taxpayer_Organizational_Type','Taxpayer_Organizational_Name','Record_Type_Code','Record_Type_Name','Responsibility_Beginning_Date','Responsibility_End_Reason_Code','Responsibility_End_Reason_Name','SOS_Charter_Date','SOS_Status_Date','SOS_Status_Code','SOS_Status_Name','Rigth_to_Tansact_Business_Code','Rigth_to_Tansact_Business_Name','DateTime']]
df_franchise_tax_info['Responsibility_Beginning_Date'] = pd.to_datetime(df_franchise_tax_info["Responsibility_Beginning_Date"])
df_franchise_tax_info['Responsibility_Beginning_Date']=df_franchise_tax_info['Responsibility_Beginning_Date'].dt.strftime('%Y-%m-%d')
df_franchise_tax_info['SOS_Charter_Date'] = pd.to_datetime(df_franchise_tax_info["SOS_Charter_Date"])
df_franchise_tax_info['SOS_Charter_Date']=df_franchise_tax_info['SOS_Charter_Date'].dt.strftime('%Y-%m-%d')
df_franchise_tax_info['SOS_Status_Date'] = pd.to_datetime(df_franchise_tax_info["SOS_Status_Date"])
df_franchise_tax_info['SOS_Status_Date']=df_franchise_tax_info['SOS_Status_Date'].dt.strftime('%Y-%m-%d')
df_franchise_tax_info.head()

C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\env\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\env\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\env\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\env\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\env\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,Taxpayer_Number,Taxpayer_Name,Taxpayer_Address,Taxpayer_City,Taxpayer_State,Taxpayer_Zip_Code,Taxpayer_Organizational_Type,Taxpayer_Organizational_Name,Record_Type_Code,Record_Type_Name,Responsibility_Beginning_Date,Responsibility_End_Reason_Code,Responsibility_End_Reason_Name,SOS_Charter_Date,SOS_Status_Date,SOS_Status_Code,SOS_Status_Name,Rigth_to_Tansact_Business_Code,Rigth_to_Tansact_Business_Name,DateTime
0,10104336481,FLOTATION TECHNOLOGIES INC,945 BUNKER HILL RD STE 500,HOUSTON,TX,77024,CF,Foreign Profit,X,Comptroller Assigned File Number,1970-01-01,0,Active or Inactive with no Reason Code,NaN,NaN,None,None,N,Forfeited,2020-03-22 00:36:27
1,10105480411,"MOTORCYCLES UNLIMITED, INC.",1964 CYPRESS CREEK PKWY,HOUSTON,TX,77090,CT,Texas Profit,U,Secretary of State (SOS) File Number,1970-01-01,0,Active or Inactive with no Reason Code,1970-01-01,1970-01-01,A,Active,A,Active,2020-03-22 00:36:27
2,10105483688,"CYPRESS CREEK PERSONNEL SERVICES, INC.",13131 CHAMPIONS DR STE 202,HOUSTON,TX,77069,CT,Texas Profit,U,Secretary of State (SOS) File Number,1970-01-01,0,Active or Inactive with no Reason Code,1970-01-01,1970-01-01,A,Active,A,Active,2020-03-22 00:36:27
3,10105495120,"LIL IKES, INC.",7110 AVENUE C,HOUSTON,TX,77011,CT,Texas Profit,U,Secretary of State (SOS) File Number,1970-01-01,0,Active or Inactive with no Reason Code,1970-01-01,1970-01-01,A,Active,A,Active,2020-03-22 00:36:27
4,10105517915,"WOOD GROUP USA, INC.",17325 PARK ROW,HOUSTON,TX,77084,CT,Texas Profit,U,Secretary of State (SOS) File Number,1970-01-01,0,Active or Inactive with no Reason Code,1970-01-01,1970-01-01,A,Active,A,Active,2020-03-22 00:36:27

In [58]:
formattedData = os.path.abspath('HotelOccupancyTaxData/formattedData/'+ 'HOUFTACT.csv')
df_franchise_tax_info.to_csv(formattedData, index = False)

## STACT

In [59]:
df_sales_tax_info = pdsql.read_sql("SELECT * FROM  sales_tax_info WHERE Taxpayer_City = 'HOUSTON';", engine)
df_sales_tax_info.head()

,Taxpayer_Number,Outlet_Number,Taxpayer_Name,Taxpayer_Address,Taxpayer_City,Taxpayer_State,Taxpayer_Zip_Code,Taxpayer_County_Code,Taxpayer_Phone_Number,Taxpayer_Organizational_Type,...,Outlet_State,Outlet_Zip_Code,Outlet_County_Code,Outlet_Phone_Number,Outlet_NAICS_Code,Outlet_Inside_Outside_City_Limits_Indicator,Outlet_Permit_Issue_Date,Outlet_First_Sales_Date,Taxpayer_Organizational_Name,DateTime
0,10105480411,1,"MOTORCYCLES UNLIMITED, INC.",1964 CYPRESS CREEK PKWY,HOUSTON,TX,77090,101,2814440545,CT,...,TX,77090,101.0,None,441228.0,N,20020100.0,20020301,TEXAS PROFIT CORPORATION,2020-03-22 00:36:27
1,10105495120,1,"LIL IKES, INC.",7110 AVENUE C,HOUSTON,TX,77011,101,7139210088,CT,...,TX,77011,101.0,None,811121.0,Y,20030300.0,20020103,TEXAS PROFIT CORPORATION,2020-03-22 00:36:27
2,10105517915,3,"WOOD GROUP USA, INC.",17325 PARK ROW,HOUSTON,TX,77084,101,2816478449,CT,...,TX,77084,101.0,None,541330.0,Y,20171000.0,20170901,TEXAS PROFIT CORPORATION,2020-03-22 00:36:27
3,10105517915,4,"WOOD GROUP USA, INC.",17325 PARK ROW,HOUSTON,TX,77084,101,None,CT,...,TX,77531,20.0,None,541330.0,Y,20180100.0,20180101,TEXAS PROFIT CORPORATION,2020-03-22 00:36:27
4,10105547839,2,"S S S ENTERPRISES, INC.",8901 HOWARD DR,HOUSTON,TX,77017,101,8327152371,CT,...,TX,77017,101.0,None,445120.0,Y,20051200.0,20051202,TEXAS PROFIT CORPORATION,2020-03-22 00:36:27

In [60]:
df_sales_tax_info = df_sales_tax_info[['Taxpayer_Number','Taxpayer_Name','Taxpayer_Address','Taxpayer_City','Taxpayer_State','Taxpayer_Zip_Code','Outlet_Name','Outlet_Address','Outlet_City','Outlet_State','Outlet_Zip_Code','Taxpayer_Organizational_Type','Taxpayer_Organizational_Name','Outlet_Permit_Issue_Date','Outlet_First_Sales_Date','DateTime']]
df_sales_tax_info['Outlet_Permit_Issue_Date'] = pd.to_datetime(df_sales_tax_info["Outlet_Permit_Issue_Date"])
df_sales_tax_info['Outlet_Permit_Issue_Date']=df_sales_tax_info['Outlet_Permit_Issue_Date'].dt.strftime('%Y-%m-%d')
df_sales_tax_info['Outlet_First_Sales_Date'] = pd.to_datetime(df_sales_tax_info["Outlet_First_Sales_Date"])
df_sales_tax_info['Outlet_First_Sales_Date']=df_sales_tax_info['Outlet_First_Sales_Date'].dt.strftime('%Y-%m-%d')
df_sales_tax_info.head()

,Taxpayer_Number,Taxpayer_Name,Taxpayer_Address,Taxpayer_City,Taxpayer_State,Taxpayer_Zip_Code,Outlet_Name,Outlet_Address,Outlet_City,Outlet_State,Outlet_Zip_Code,Taxpayer_Organizational_Type,Taxpayer_Organizational_Name,Outlet_Permit_Issue_Date,Outlet_First_Sales_Date,DateTime
0,10105480411,"MOTORCYCLES UNLIMITED, INC.",1964 CYPRESS CREEK PKWY,HOUSTON,TX,77090,MOTORCYCLES UNLIMITED,1964 FM 1960 RD W,HOUSTON,TX,77090,CT,TEXAS PROFIT CORPORATION,1970-01-01,1970-01-01,2020-03-22 00:36:27
1,10105495120,"LIL IKES, INC.",7110 AVENUE C,HOUSTON,TX,77011,LIL IKES INC,7110 AVENUE C,HOUSTON,TX,77011,CT,TEXAS PROFIT CORPORATION,1970-01-01,1970-01-01,2020-03-22 00:36:27
2,10105517915,"WOOD GROUP USA, INC.",17325 PARK ROW,HOUSTON,TX,77084,"WOOD GROUP USA, INC.",17325 PARK ROW,HOUSTON,TX,77084,CT,TEXAS PROFIT CORPORATION,1970-01-01,1970-01-01,2020-03-22 00:36:27
3,10105517915,"WOOD GROUP USA, INC.",17325 PARK ROW,HOUSTON,TX,77084,"WOOD GROUP USA, INC.",622 COMMERCE ST,CLUTE,TX,77531,CT,TEXAS PROFIT CORPORATION,1970-01-01,1970-01-01,2020-03-22 00:36:27
4,10105547839,"S S S ENTERPRISES, INC.",8901 HOWARD DR,HOUSTON,TX,77017,ON THE GO MART,8901 HOWARD DR,HOUSTON,TX,77017,CT,TEXAS PROFIT CORPORATION,1970-01-01,1970-01-01,2020-03-22 00:36:27

In [61]:
formattedData = os.path.abspath('HotelOccupancyTaxData/formattedData/'+ 'HOUSTACT.csv')
df_sales_tax_info.to_csv(formattedData, index = False)